//- File Name : Register.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Registration Form File 


extends ../layout

block content
    .lr
        h1 Register Form
        .container
            form(method="post")
                .form-group
                    label Email
                    input.form-control(name="email")
                .form-group
                    label Username
                    input.form-control(name="username")
                .form-group
                    label Password
                    input.form-control(name="password")

                button.btn.btn-primary Submit