//- File Name : Footer.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Footer  of the site 


footer.footer
  div.container.text-center
    large
      Copyright &copy; All rights reserved to group 2019

      