//- File Name : Header.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Navigation Bar  of the site 


.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
    a(class="navbar-brand", href="../")  Home
    a(class="navbar-brand", href="../usurvey")  uSurvey
    a(class="navbar-brand", href="../about")  About us
    a(class="navbar-brand", href="../privacy")  Privacy
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        if login
          
          li
            a(href="/logout") Signout
        else
          li
            a(href="/login") Sigin 
          li
            a(href="/register") Signup