nav.navbar.navbar-expand-lg.navbar.bg-light
  a.navbar-brand(href='../') Home
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='../usurvey') Take Survey
      li.nav-item
        a.nav-link(href='../about') About us
      li.nav-item
        a.nav-link(href='../privacy') Privacy
      li.nav-item
        a.nav-link(href='../login') Login
      li.nav-item
        a.nav-link(href='../register') Register
