//- File Name : About.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: About us of the site 


extends layout

block content

 h2 About Us
 p uSurveySite offers quality after-market surveyors’ & contractors’ accessories.  Integrated with nearly 40 years experience from the    surveying industry, uSurvey supplies a full range of dependable surveyors’ & contractors’ accessories with superior workmanship     and precision to the finest details.  These include: instrument tripods, bipods/tripods for poles, prism & GNSS poles, tribrachs &     adaptors, prisms, leveling rods, reflective sheets, data collector brackets, and auto levels & theodolites.
 p  To become a uSurvey customer or partner.
 p  The uSurvey brand and Survey-Max tripod are trademarks of Georgian College.

 link(rel='stylesheet', href='/stylesheets/about.css')
   