//- File Name : Error.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Error Handler


extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
