//- File Name : Index.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Home Page of the site 

extends layout

block content
  h1= title
  p Take the Survey
  link(rel='stylesheet', href='/stylesheets/index.css')

  a(href="usurvey")
   button(type="button") Get Started For Free
