//- File Name : Privacy.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Privacy of the site 


extends layout


block content

 h2 Privacy & Policy
 
 p This Privacy Policy applies to the information you provide to us when you visit SurveyJunkie.com (the “Website”) or participate in any usurvey panel or subpanel (“Panel”), or download and install the uSurvey. Please read this policy carefully to understand our information practices. By using this Website, any of the services offered on or through the Website, or the  usurvey, you are agreeing that you have read, understand, and accept the practices described in this Privacy Policy.

 p This Privacy Policy sets forth the collection, use and disclosure of personal data or personally identifiable information (“Personal Data”) and other information by uSurvey in connection with uSurvey Services (as defined herein). uSurveyServices provide you with the opportunity to join a Panel (as defined herein), participate in surveys (whether as a Panel member or a non-Panel member), use the websites associated with the Panels, download and use the uSurvey, and receive and redeem rewards and incentives, including, without limitation, sweepstakes entries, offered in connection with Panel membership and/or the completion of surveys (collectively “Services”). Registration with, use of, and access to uSurvey Services and the uSurvey are subject to uSurvey Terms and Conditions. 
