//- File Name : usurvey.pug
//- Author Name : Shivam, Egecan, Lovedeep, Sukhpreet
//- Website Name: Usurvey
//- File Description: Sample survey questions of the site 


extends layout

block content
  h3 Survey Questions
  link(rel='stylesheet', href='/stylesheets/usurvey.css')
  form#survey-form(method='post' action='/submit')
  | Check the answer to each multiple-coice question, and click on the "Send Form" button to submit the information.
  p
    | 1. Do you have a Smartphone?
    br
    input.input-radio(type='radio', name='q1', value='Yes')
    | Yes
    br
    input.input-radio(type='radio', name='q1', value='No')
    | No
    br

    p
    | 2. Which smartphone brand are you currently using?
    br
    input.input-radio(type='radio', name='q2', value='Apple')
    | Apple
    br
    input.input-radio(type='radio', name='q2', value='Samsung')
    | Samsung
    br
    input.input-radio(type='radio', name='q2', value='Both')
    | Both
    br
    input.input-radio(type='radio', name='q2', value='None')
    | None
    br
    p
    | 3. What are the factors that influence the purchase of your smartphone?
    br
    input.input-radio(type='radio', name='q3', value='Logo Of Brand')
    | Logo Of Brand
    br
    input.input-radio(type='radio', name='q3', value='Design')
    | Design
    br
    input.input-radio(type='radio', name='q3', value='Price')
    | Price
    br
    input.input-radio(type='radio', name='q3', value='Function')
    | Function
    br
    p
    | 4. How would you describe your smartphone?
    br
    input.input-radio(type='radio', name='q4', value='Classy')
    | Classy
    br
    input.input-radio(type='radio', name='q4', value='Durable')
    | Durable
    br
    input.input-radio(type='radio', name='q4', value='Light')
    | Light
    br
    input.input-radio(type='radio', name='q4', value='All the above')
    | All the above
    br
    p
    | 5 Which telecome service providers do you currently have an account with?
    br
    input.input-radio(type='radio', name='q5', value='Rogers')
    | Rogers
    br
    input.input-radio(type='radio', name='q5', value='Fido')
    | Fido
    br
    input.input-radio(type='radio', name='q5', value='Bell')
    | Bell
    br
    input.input-radio(type='radio', name='q5', value='Other')
    | Other
    br
    br
    br
    br
    br
    input(type='submit', value='Send Form', form= "survey-form")

